<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edoni's Resume</title>
</head>
<body>

    <header class="main-header" id="home">
        <div class="edon-header"><h2>Edon Krasniqi</h2></div>
        <div>
            <a href="#home">Home</a>
            <a href="#work">My Work</a>
            <a href="#skills">Skills</a>
            <a href="#contact"><button class="contact-button" href="#contact">Contact me</button></a>
        </div>
    </header>
    <div>
        <nav class="left-nav">
            <div class="home-text">
                <h1 class="homeh1">Building<br> beautiful web<br> experiences.</h1>
            </div>
            <button class="button-work">
                <span class="view-work"><a href="#work"> View my work</a></span>
            </button>
            <img src="./img/doniMan3.jpg" alt="man" class="man-pic">
        </nav>
    </div>
    <!--Work-->
    <div class="work" id="work">
        <h1>My work</h1>
        <p>I’ve had the pleasure of working with multiple Fortune 500 companies, designing and implementing both frontend and backend.</p>
        <div class="git-repos">
            <a href="https://github.com/KushtrimIbishi1/PersonalPortfolio" class="github-card" data-github="KushtrimIbishi1/PersonalPortfolio">
                <img src="./img/github.png" alt="githubLogo" class="git-logo">
                <h3>Personal Portfolio</h3>
                <p>My personal portfolio built using Tailwindcss</p>
                <span class="github-card_meta">
                    <span class="github-card_language-icon">●</span> Tailwindcss
                </span>
            </a>

            <a href="https://github.com/KushtrimIbishi1/PersonalPortfolio" class="github-card" data-github="KushtrimIbishi1/PersonalPortfolio">
                <img src="./img/github.png" alt="githubLogo" class="git-logo">
                <h3>Personal Portfolio</h3>
                <p>My personal portfolio built using Tailwindcss</p>
                <span class="github-card_meta">
                    <span class="github-card_language-icon">●</span> Tailwindcss
                </span>
            </a>

            <a href="https://github.com/KushtrimIbishi1/PersonalPortfolio" class="github-card" data-github="KushtrimIbishi1/PersonalPortfolio">
                <img src="./img/github.png" alt="githubLogo" class="git-logo">
                <h3>Personal Portfolio</h3>
                <p>My personal portfolio built using Tailwindcss</p>
                <span class="github-card_meta">
                    <span class="github-card_language-icon">●</span> Tailwindcss
                </span>
            </a>
            <a href="https://github.com/KushtrimIbishi1/PersonalPortfolio" class="github-card" data-github="KushtrimIbishi1/PersonalPortfolio">
                <img src="./img/github.png" alt="githubLogo" class="git-logo">
                <h3>Personal Portfolio</h3>
                <p>My personal portfolio built using Tailwindcss</p>
                <span class="github-card_meta">
                    <span class="github-card_language-icon">●</span> Tailwindcss
                </span>
            </a>
        </div>
    </div>
</body>
</html>