html,
body {
    scroll-behavior: smooth;
}

body {
    background-color: #17171F;
    color: white;
    font-family: sans-serif
}

.main-header {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;
    margin-top: 20px;
}

.menu {
    padding: 15px;
    color: white;
    padding-top: 15px;
}

#active-dot {
    position: fixed;
}

.contact-button {
    border-radius: 10px;
    cursor: pointer;
}

button {
    background-color: #3f3fff;
    color: white;
    padding: 8px;
}

a {
    color: #000000;
    text-decoration: none;
    padding: 15px;
    color: white;
}

.home-text {
    margin-left: 300px;
    font-size: xx-large;
    margin-top: 100px;
}

.button-work {
    background-color: #3f3fff;
    height: 50px;
    width: 150px;
    margin-left: 400px;
    border-radius: 10px;
}

.view-work {
    font-size: larger;
}

.man-pic {
    float: right;
    margin-top: -300px;
    margin-right: 50px;
}

.work {
    margin-left: 260px;
    margin-top: 400px;
}

.github-cards {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    background-color: wheat;
}

.github-card {
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #3f3fff;
    margin: 10px;
    padding: 15px;
    text-decoration: none;
    font-size: 13px;
    flex: 1;
    min-width: 250px;
    width: 250px;
    border-radius: 7px;
}

.github-card__meta {
    margin-right: 10px;
}

.git-logo {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 10px;
    margin-top: 12px;
}

.git-repos {
    display: flex;
    justify-content: center;
    margin-right: 150px;
}

.skills {
    margin-left: 260px;
    margin-top: 350px;
}

.skill-div {
    border: #3f3fff solid 1px;
    color: white;
    width: 500px;
    padding: 15px;
    margin: 15px;
    text-align: center;
    border-radius: 7px;
    display: flex;
    justify-content: center;
}

/* .skill-cards {
    margin-left: 230px;
} */


.skill-pic {
    margin: 15px;
}

.skill-cards {
    display: flex;
    justify-content: center;
    margin-right: 260px;
}
